src/main/mule/cicd-jenkins-impl.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="ea6785b3-c15a-4b5e-9cab-727af6400eb1" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="cicd-jenkins-implFlow" doc:id="a95e656b-db22-4fe5-9f7a-530ebb02393d" >
		<http:listener doc:name="Listener" doc:id="6cf67adb-4e94-4a1a-8351-534faef5e867" config-ref="HTTP_Listener_config" path="/cicd"/>
		<logger level="INFO" doc:name="Logger" doc:id="3773c29e-8459-4a1c-8f10-c5da230a2655" message="request received"/>
		<set-payload value='#["success"]' doc:name="Set Payload" doc:id="75bff745-74ee-456f-ae5c-b2d319637e9a" />
	</flow>
</mule>
